:root {
    --swiper-navigation-size: 8rem;
    --swiper-theme-color: #fff;
}

$nav-color: #01366a;

$primary: #011ec4;
$secondary: #fff000;

$selection: #fff43c;
$font-color: #fff;

$white: #fff;

$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
